@font-face {
    font-family: 'MarkPro';
    src: url('MarkPro.woff2') format('woff2'),
        url('MarkPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('MarkPro-Black.woff2') format('woff2'),
        url('MarkPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('MarkPro-Bold.woff2') format('woff2'),
        url('MarkPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro-Book';
    src: url('MarkPro-Book.woff2') format('woff2'),
        url('MarkPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('MarkPro-ExtraLight.woff2') format('woff2'),
        url('MarkPro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('MarkPro-Heavy.woff2') format('woff2'),
        url('MarkPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('MarkPro-Light.woff2') format('woff2'),
        url('MarkPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MarkPro';
    src: url('MarkPro-Medium.woff2') format('woff2'),
        url('MarkPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

